<section class="section-blue-background">

    <form action="">

        <div class="row">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">User</span>
                    </div>
                    <input type="text" aria-label="login" class="form-control">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                    </div>
                    <input type="password" aria-label="password" class="form-control">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <button type="button" class="btn btn-outline-dark">Entrar</button>
        </div>

    </form>

</section>